<center><h1>About the project</h1>
<p>Members-only is an website where everyone can see posts but only logged in users can see the authors of the posts. This is an assignment from The Odin Project.</p>
<p>The layout is a copy of the Sample App from Michael Hartl's Ruby on Rails tutorial.</p>
</center>