<center><h1>O sajtu</h1>

  <h3> Koriscene tehnologije</h3>

  <p> HTML, CSS (Bootstrap gem), Javascript, Ruby on Rails</p>

  <h3> Funkcionalnosti:</h3>

  <P> -Login/Logout </P>

  <p> -Sesije/sezone (snimanje podataka o korisniku sve dok se browser ne iskljuci)</p>

  <p> -CRUD (Kreiranje korisnika i postova, izmena korisnika, brisanje postova i prikaz svih postova)</p>

  <p> -Kreiranje postova koristeci Ajax (bez refreshovanja stranice) </p>
</center>