<div class="center jumbotron">
  <h1>Members-only</h1>
  <h3>A website to dedicated to trash talking</h3>
  <% if logged_in? %>
    <%= link_to "Make a post!", new_post_path, class: "btn btn-lg btn-primary" %>
    <%else %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%end %>
</div>

