<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@post) do |f| %>

      <h3>Sadrzaj oglasa:</h3>
      <%= f.text_field :content, class: 'form-control' %>


      <h3>Kontakt telefon ili e-mail:</h3>
      <%= f.text_field :kontakt, class: 'form-control' %>

      <%= f.submit "Postavi", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>