<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Members-only</a>
     assignment from <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication">The Odin Project</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'https://github.com/dvik1950' %></li>
    </ul>
  </nav>
</footer>