<footer class="footer">
  <small>
    Prvi domaci iz <a href="https://elab.fon.bg.ac.rs/">Internet tehnologija</a>, predmet sa <a href="http://www.fon.bg.ac.rs/">Fakulteta organizacionih nauka</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Applikacioni kod", 'https://github.com/dvik1950/oglasi-ajax-rails' %></li>
    </ul>
  </nav>
</footer>